@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-gradient: gradient 8s linear infinite;
  @keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --text: oklch(14.17% 0.017 336.79);
  --background: oklch(98.42% 0.003 325.6);
  --primary: oklch(59.47% 0.118 344.66);
  --secondary: oklch(78.26% 0.043 42.66);
  --accent: oklch(73.29% 0.057 70.38);
  --foreground: var(--text);
  --card: var(--background);
  --card-foreground: var(--text);
  --popover: var(--background);
  --popover-foreground: var(--text);
  --primary-foreground: oklch(98.42% 0.003 325.6);
  --secondary-foreground: var(--text);
  --muted: oklch(95% 0.002 325.6);
  --muted-foreground: oklch(45% 0.015 336.79);
  --accent-foreground: var(--text);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(88% 0.005 325.6);
  --input: oklch(88% 0.005 325.6);
  --ring: var(--primary);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--background);
  --sidebar-foreground: var(--text);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --text: oklch(96.5% 0.01 335.47);
  --background: oklch(11.25% 0.009 326.14);
  --primary: oklch(54.3% 0.12 344.49);
  --secondary: oklch(38.53% 0.053 40.2);
  --accent: oklch(51.04% 0.061 69.39);
  --foreground: var(--text);
  --card: oklch(15% 0.012 326.14);
  --card-foreground: var(--text);
  --popover: oklch(15% 0.012 326.14);
  --popover-foreground: var(--text);
  --primary-foreground: oklch(11.25% 0.009 326.14);
  --secondary-foreground: var(--text);
  --muted: oklch(20% 0.015 326.14);
  --muted-foreground: oklch(65% 0.008 335.47);
  --accent-foreground: var(--text);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(25% 0.018 326.14);
  --input: oklch(25% 0.018 326.14);
  --ring: var(--primary);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--background);
  --sidebar-foreground: var(--text);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}